<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Agenda Telefónica / AGC</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/estilos.css">

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

<header class="encabezado">
Agenda Telefónica
</header>

<div id="app" class="container mt-4">

<div class="card card-form p-4 mb-4">
<h4 class="text-center mb-3">Nuevo Contacto</h4>

<div class="mb-2">
<label>Nombre</label>
<input type="text" class="form-control" v-model="nuevo.nombre">
</div>

<div class="mb-2">
<label>Teléfono</label>
<input type="text" class="form-control" v-model="nuevo.telefono">
</div>

<div class="mb-3">
<label>Categoría</label>
<select class="form-control" v-model="nuevo.categoria">
<option value="">Selecciona</option>
<option>Familia</option>
<option>Amistad</option>
<option>Conocidos</option>
</select>
</div>

<button class="btn btn-purple w-100" @click="agregarContacto">
Agregar
</button>
</div>

<div v-if="contactos.length > 0">
<table class="table table-bordered text-center">
<thead>
<tr>
<th>Eliminar</th>
<th>Nombre</th>
<th>Teléfono</th>
<th>Categoría</th>
<th>Mensajes</th>
<th>Llamadas</th>
</tr>
</thead>

<tbody>
<tr v-for="(c,index) in contactos">
<td>
<button class="btn btn-danger btn-sm" @click="eliminarContacto(index)">X</button>
</td>
<td>{{c.nombre}}</td>
<td>{{c.telefono}}</td>
<td>{{c.categoria}}</td>
<td>
<button class="btn btn-purple btn-sm" @click="c.mensajes++">+</button>
<span class="mx-2">{{c.mensajes}}</span>
<button class="btn btn-dark btn-sm" v-show="c.mensajes>0" @click="c.mensajes--">-</button>
</td>
<td>
<button class="btn btn-purple btn-sm" @click="c.llamadas++">+</button>
<span class="mx-2">{{c.llamadas}}</span>
<button class="btn btn-dark btn-sm" v-show="c.llamadas>0" @click="c.llamadas--">-</button>
</td>
</tr>
</tbody>
</table>
</div>

<div v-else class="text-center mt-3">
No hay contactos registrados
</div>

<footer class="pie text-center mt-4">
<div>Contactos: {{totalContactos}}</div>
<div>Total Mensajes: {{totalMensajes}}</div>
<div>Total Llamadas: {{totalLlamadas}}</div>
</footer>

</div>

<script src="../js/main.js"></script>
<script src="../js/vue35.js"></script>
</body>
</html>